<ion-header>
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-textarea [(ngModel)]="taskName" class="ion-margin" placeholder="Write your task here.."></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Priority</ion-label>
    <ion-select [(ngModel)]="taskPriority">
      <ion-select-option value="Low">Low</ion-select-option>
      <ion-select-option value="Middle">Middle</ion-select-option>
      <ion-select-option value="High">High</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    

  <ion-item><ion-label>Due Date</ion-label></ion-item>
  <ion-item><ion-datetime-button datetime="datetime"></ion-datetime-button></ion-item>
  

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
 </ion-item>
 
  <ion-item>
    <ion-icon name="pricetag-outline" slot="start"></ion-icon>
    <ion-label>Category</ion-label>
    <span>{{taskCategory}}</span>
  </ion-item>

  <ion-item>
    <ion-chip *ngFor="let category of categories; let i = index" (click)="selectedCategory(i)">
      <ion-label>{{category}}</ion-label>
    </ion-chip>
  </ion-item>


  <ion-button  class="ion-margin" expand="block" (click)="AddTask()">Add Task</ion-button>
</ion-content>



